<div class="container">
    <%= link_to posts_path, class: "button is-button is-link" do %>
        <i class="fa fa-arrow-left"></i> VOLTAR
    <% end %>
    <div class="columns">
        <div class="column">
            <p class="title text-center text-light bg-dark"><%= @post.title%></p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-three-quarters"><h4><%= @post.body %></h4>
        <div class="column"><h6>Autor: <%= @post.user.name %></h6>
    </div></br>
    <p><div>
      <h5 class="card-title text-center">Comentários</h5>
    </div></p>
    
        <%= render partial: "comments/form", locals: { commentable: @post } %>
    
        
        <%= render @post.comments.where(parent_id: nil) %>
        
</div>